services:
  core:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: core
    restart: unless-stopped
    tty: false
    ports:
      - "8000:8000"
    volumes:
      - ./data:/app/data
      - ./config.yaml:/app/config.yaml:ro
      - ./.models-cache:/app/.models-cache
    networks:
      - gateway-network

  inf_llamacpp:
    build:
      context: .
      dockerfile: Dockerfile.llamacpp
    container_name: inf_llamacpp
    restart: unless-stopped
    tty: false
    ports:
      - "8001:8001"
    environment:
      - NVIDIA_DRIVER_CAPABILITIES=compute,utility
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu]
    volumes:
      - ./data:/app/data
      - ./.models-cache:/app/.models-cache
      - ./config.yaml:/app/config.yaml:ro
    networks:
      - gateway-network

networks:
  gateway-network:
    driver: bridge
